/* COLORS */
/* placeholder grey #999 */

/* GENERAL */
html, body {
  height: 100%;
}

/* LOGIN PAGE */
.logo {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 7rem;
}

.login, .registration {
  max-width: 17em;
  display: block;
  margin: auto;
}

.login h1 {
  padding-top: .5rem;
  padding-bottom: 1em;
}

.login .input-group, .login button, .registration input, .registration button, .registration select  {
  margin: .5em 0;
}

.login a {
  text-decoration: none;
}

/* REGISTRATION PAGE */
.registration {
  padding-top: 4rem;
}

.registration form select {
  text-indent: .5rem;
  color: #999;
}

.logo-sm {
  display: block;
  margin-bottom: 3rem;
}

.registration h2 {
  margin-left: 2.6rem;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1.5rem;
}

/* USER PROFILE */

/* CONTACT-LIST */
.contact-list, .message-history, .contact-profile {
  border: 1px solid red;
  /* height: 96vh; */
}

.contact-list input {
  margin: .5rem 0;
}

.contact {
  border: 1px solid red;
  padding: 1rem;
}
