/* COLORS */
/* placeholder grey #999 */
/* fonts-dark blue #1f4359 */
/* orange buttons #e45e21 */
/* #d55818 */
/* #fb6a26 */
/* #9f3d0b */
/* blue buttons #76c6cf */
/* #2a94a1 */
/* #83dde6 */

/* red for errors #fcc4c5 */

/* GENERAL */
html, body {
  height: 100%;
  color: #1f4359;
}

div {
  /* border: 1px solid red; */
}

.blue-button {
  color: #2a94a1;
  background-color: #83dde6;
  border-color: #76c6cf;
}

.blue-button:hover {
  color: #2a94a1;
  border: 2px solid #2a94a1;
  background-color: #83dde6;
}

.input-group-addon {
  background-color: #C8F6F8;
}

.form-control, .input-group-addon {
  color: #2a94a1;
  border-color: #76c6cf;
}

.orange-button {
  color: #9f3d0b;
  background-color: #fb6a26;
  border-color: #e45e21;
}

.orange-button:hover {
  color: #9f3d0b;
  background-color: #fb6a26;
  border: 2px solid #9f3d0b;
}

.orange-button[disabled] {
  color: rgba(159,61,11,.6);
  background-color: rgba(251,106,38,.6);
  border-color: rgba(228,94,33,.6);
}

.blue-button[disabled] {
  color: rgba(42,148,161,.5);
  background-color: rgba(131,221,230,.5);
  border-color: rgba(118,198,207,.5);
}

.error {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fcc4c5;
  border: 1px solid red;
}

.clearfix {
  clear: both;
}

/* LOGIN PAGE */
.logo {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 4rem;
}

img.logo {
  width: 200px;
  margin-bottom: 7rem;
}

.login, .registration {
  max-width: 18em;
  display: block;
  margin: auto;
}

.login h1 {
  padding-top: .5rem;
  padding-bottom: 1em;
}

.login .input-group, .login button, .registration input, .registration button, .registration select  {
  margin: .5em 0;
}

.login a {
  text-decoration: none;
}

/* FORM */
.registration form select {
  text-indent: .8rem;
  color: #999;
  /* color: #2A94A1; */
}

.user-info input, .user-info select{
  font-size: 1.6rem;
}

.user-form label {
  margin-top: 3rem;
}

/* REGISTRATION PAGE */
.logo-sm {
  margin: 5rem auto 3rem auto;
  display: block;
  height: 120px;
}

.note {
  display: none;
  border: 1px solid red;
  background-color: #fcc4c5;
  padding: .5rem;
  font-size: .8em;
}

#username:focus + #username-note {
  display: block;
}

#email:focus + #email-note {
  display: block;
}

#password:focus + #password-note {
  display: block;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1.5rem;
}

/* USER PROFILE */
.logo-xs {
  height: 7rem;
  display: block;
  margin: .5rem auto;
}

.col-lg-12 {
  padding: 0;
  border-bottom: 1px solid #76c6cf;
}

.user-profile h2 {
  text-align: center;
  font-weight: 200;
}

.user-buttons button{
  margin: 1.5rem 1rem 1rem 0;
}

/* CONTACT-LIST */
.contact-list, .message-history-wrapper, .contact-profile {
  height: 90vh;
}

.message-history-wrapper {
  padding: 0;
}

.contact-list .input-group {
  margin: 1rem 0;
}

.contact {
  padding: 1rem;
  border-bottom: 1px solid #76c6cf;
}

.contact:hover {
  background-color: #c8f6f8;
}

.notification {
  background-color: red;
}

.img-circle {
  width: 5rem;
  margin-right: 1.5rem;
}

.contact-text {
  padding-top: .4rem;
}

.contact-text button {
  margin: .5rem 0 .5rem .5rem;
}


/* MESSAGE HISTORY */
.message-history-wrapper {
  border-left: 1px solid #76c6cf;
  border-right: 1px solid #76c6cf;
}

.message-history {
  height: 100%;
  overflow: scroll;
  padding: 1.5rem;
}

.messages {
  margin-bottom: 4rem;
}

.message {
  border: 1px solid #ccc;
  padding: .7rem 1.3rem;
  margin: .5rem;
}

.from {
  border-color: #76c6cf;
  background-color: #c8f6f8;
  border-radius: 30px 30px 5px 30px;
  -webkit-border-radius: 30px 30px 5px 30px;
	-moz-border-radius: 30px 30px 5px 30px;
}

.to {
  border-color: #fb6a26;
  background-color: #f49669;
  color: #fff;
  font-weight: 150;
  border-radius: 30px 30px 30px 5px;
  -webkit-border-radius: 30px 30px 30px 5px;
	-moz-border-radius: 30px 30px 30px 5px;
}

.message p {
  margin: 0;
}

.new-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.new-message span {
  margin: 0 .5rem;
}

.new-message input {
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
}

/* USER INFO */
.user-info {
  padding: 1rem;
}

.img-thumbnail {
  display: block;
  width: 80%;
  margin: 2rem auto;
}

.image-form label {
  display: block;
  margin-left: 1rem;
}

.image-form input {
  display: inline-block;
  width: 22rem;
  margin-right: .5rem;
}

.user-info p {
  margin: 2rem 0;
}

.user-info button {
  font-size: 1.5rem;
  margin: .5rem;
}

.update-buttons {
  margin-top: 6rem;
}
