/* COLORS */
/* placeholder grey #999 */
/* fonts-dark blue #1f4359 */
/* orange buttons #e45e21 */
/* #d55818 */
/* #fb6a26 */
/* #9f3d0b */
/* blue buttons #76c6cf */
/* #2a94a1 */
/* #83dde6 */

/* red for errors #fcc4c5 */

/* GENERAL */
html, body {
  height: 100%;
  color: #1f4359;
}

.blue-button {
  color: #2a94a1;
  background-color: #83dde6;
  border-color: #76c6cf;
}

.input-group-addon {
  background-color: #C8F6F8;
}

.form-control, .input-group-addon {
  color: #2a94a1;
  border-color: #76c6cf;
}

.input-group input::placeholder {
  /* color: #83dde6; */
}

.orange-button {
  color: #9f3d0b;
  background-color: #fb6a26;
  border-color: #e45e21;
}

.orange-button[disabled] {
  color: rgba(159,61,11,.6);
  background-color: rgba(251,106,38,.6);
  border-color: rgba(228,94,33,.6);
}

.blue-button[disabled] {
  color: rgba(42,148,161,.5);
  background-color: rgba(131,221,230,.5);
  border-color: rgba(118,198,207,.5);
}

.error {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fcc4c5;
  border: 1px solid red;
}

/* LOGIN PAGE */
.logo {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 4rem;
}

img.logo {
  width: 200px;
  margin-bottom: 7rem;
}

.login, .registration {
  max-width: 18em;
  display: block;
  margin: auto;
}

.login h1 {
  padding-top: .5rem;
  padding-bottom: 1em;
}

.login .input-group, .login button, .registration input, .registration button, .registration select  {
  margin: .5em 0;
}

.login a {
  text-decoration: none;
}

/* REGISTRATION PAGE */
.registration {
  /* padding-top: 1rem; */
}

.registration form select {
  text-indent: .8rem;
  color: #999;
}

.logo-sm {
  margin: 5rem auto 3rem auto;
  display: block;
  height: 120px;
}

.note {
  display: none;
  border: 1px solid red;
  background-color: #fcc4c5;
  padding: .5rem;
  font-size: .8em;
}

#username:focus + #username-note {
  display: block;
}

#email:focus + #email-note {
  display: block;
}

#password:focus + #password-note {
  display: block;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1.5rem;
}

/* USER PROFILE */
.logo-xs {
  width: 80px;
}

/* CONTACT-LIST */
.contact-list, .message-history-wrapper, .contact-profile {
  border: 1px solid red;
  height: 97vh;
}

.contact-list .input-group {
  margin: .5rem 0;
}

.contact {
  border: 1px solid red;
  padding: 1rem;
}

.notification {
  background-color: red;
}

/* MESSAGE HISTORY */
.message-history {
  height: 100%;
  overflow: scroll;
}

.messages {
  /* overflow: scroll; */
}

.message {
  border: 1px solid #ccc;
  padding: .7rem 1.3rem;
  margin: .5rem;
}

.from {
  background-color: #c8f6f8;
  border-radius: 30px 30px 5px 30px;
  -webkit-border-radius: 30px 30px 5px 30px;
	-moz-border-radius: 30px 30px 5px 30px;
}

.to {
  border-radius: 30px 30px 30px 5px;
  -webkit-border-radius: 30px 30px 30px 5px;
	-moz-border-radius: 30px 30px 30px 5px;
}

.message p {
  margin: 0;
}

.clearfix {
  clear: both;
}

.new-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* padding: 1.5rem; */
}

.new-message input {
  width: 100%;
  height: 5rem;
}
